// Specific CSS for your home-page
.navbar-campingnb {
  justify-content: space-between;
  background: white;
}

.navbar-campingnb .navbar-collapse {
  flex-grow: 0;
}

.navbar-campingnb .navbar-brand img {
  width: 50px;
}





.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  position: fixed;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
