<div class="container">
  <div class="text-center m-3">
    <%= image_tag "campingnb.ico" %>
    <p>Welcome to the camp creation form,<br> thanks for choosing us.</p>
  </div>
  <%= render 'form' %>
</div>
