<div class="container">
  <div class="text-center m-3">
    <%= image_tag "campingnb.ico" %>
    <p>Bienvenido al formulario de creación de campamentos,<br> gracias por escogernos.</p>
  </div>
  <%= render 'form' %>
</div>
