<footer class="text-center bg-dark">
  <div class="container text-white py-4 py-lg-5">
      <ul class="list-inline">
          <li class="list-inline-item me-4"><a class="link-light" href="#">Team</a></li>
          <li class="list-inline-item me-4"><a class="link-light" href="#">Contant Us</a></li>
          <li class="list-inline-item me-4"><a class="link-light" href="#">Campingnb</a></li>
      </ul>
      <ul class="list-inline">
          <li class="list-inline-item me-4">
            <li class="fa-brands fa-facebook-f"></li>
          </li>
          <li class="list-inline-item me-4">
            <li class="fa-brands fa-twitter text-light"></li>
          </li>
          <li class="list-inline-item me-4">
            <li class="fa-brands fa-instagram text-light"></li>
          </li>
      </ul>
      <p class="text-muted mb-0">Copyright © 2022 Campingnb</p>
  </div>
</footer>
