<section class="hero-banner py-3">
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-lg-5 offset-lg-1 order-lg-1">
              <%= cl_image_tag "campingnb-tr", class:"img-fluid" %>
            </div>
            <div class="col-lg-6">
                <h1 class="mt-4 text-center"> CAMPINGNB </h1>
                <p class="lead text-secondary my-2"> "Dicen que el lugar m치s feliz del mundo es Disneyland, pero no es verdad. Es un campamento".</p>
                <ul class="lead text-secondary my-3">
                  <li>Sincroniza tus ciclos de sue침o</li>
                  <li>Reduce tus sintomas de depresi칩n</li>
                  <li>Minimiza tus pensamientos negativos</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>
<section class="hero-banner py-3">
  <div class="container ">
    <div class="row row text-center">
      <div class="col-lg-6" > <h2>RECOMENDACIONES</h2>
        <p>En este apartado se insertar치n recomendaciones generales sobre camping</p>
      </div>
      <div class="col-lg-6">
      <button type="button" class="btn btn-dark" role="button"> ADQUIERE UN 15% DE DESCUENTO EN TU PRIMER RESERVA  </button>
</div>
    </div>
  </div>
</section>
<br>
