<section class="hero-banner py-3">
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-lg-5 offset-lg-1 order-lg-1">
                <img src="home/juan_tavera/code/FelipeTavera1/projects/projects-rails/campingnb/app/assets/images/Camping.jpg" class="img-fluid" alt="Web Development">
            </div>
            <div class="col-lg-6">
                <h1 class="mt-3"> CAMPINGNB </h1>
                <p class="lead text-secondary my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta totam commodi vitae omnis, harum distinctio modi eligendi, perferendis quidem labore fuga alias sunt, perspiciatis iste vel dolores tempore? Excepturi, tempora!</p>
            </div>
        </div>
    </div>
</section>
