<section class="hero-banner py-3">
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-lg-5 offset-lg-1 order-lg-1">
              <%= cl_image_tag "campingnb-tr", class:"img-fluid" %>
            </div>
            <div class="col-lg-6">
                <h1 class="mt-4"> CAMPINGNB </h1>
                <p class="lead text-secondary my-5"> Dicen que el lugar más feliz del mundo es Disneyland, pero no es verdad. Es un campamento.</p>
            </div>
        </div>
    </div>
</section>

<br>
  <div class="container text-center">
  </div>
<br>
